@import url("https://fonts.googleapis.com/css?family=Raleway:300,500,700");

$basicbackgroundcolor: #3f899e;
$menu-height: 50px;
$menu-width: 50px;

/* Global */

* {
  font-family: raleway;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h4 {
  margin: 2% 12%;
  text-align: center;
}

h1 {
  font-size: 24pt;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
}

body {
  background: #3f899e;
}

p {
  margin: 5% 12%;
  text-align: center;
}

.bigColorText {
  font-weight: 700;
  font-size: 32px;
  &::first-letter {
    text-transform: uppercase;
  }
}

form {
  text-align: center;
  margin-top: 10%;
  margin: 5% 12%;
  visibility: hidden;
}

form.active {
  visibility: visible;
}

/* Menu colors */

.nav-link.greyBG {
  background-color: grey;
  &:hover {
    color: #808080;
  }
}
.nav-link.redBG {
  background-color: #ff0000;
  &:hover {
    color: red;
  }
}
.nav-link.orangeBG {
  background-color: #ffa500;
  &:hover {
    color: orange;
  }
}
.nav-link.purpleBG {
  background-color: #800080;
  &:hover {
    color: purple;
  }
}

.nav-link.greenBG {
  background-color: #008000;
  &:hover {
    color: green;
  }
}

/* Menu Toggle */

.menu-toggle {
  position: fixed;
  z-index: 150;
  left: 0;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  width: $menu-width;
  height: $menu-height;
  background-color: #f98f39;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.5s;
  pointer-events: auto;
}

.menu-toggle.active {
  transform: rotate(-180deg);
  pointer-events: none;
  z-index: -10;
  cursor: pointer;
}

.menu-toggle span {
  background: black;
  width: 70%;
  height: 6px;
  border: 1px solid black;
  border-radius: 4px;
  pointer-events: none;
  cursor: pointer;
}

.menu-toggle.active span:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  cursor: pointer;
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
  cursor: pointer;
}

.menu-toggle.active span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  cursor: pointer;
}

/* Nav desktop*/

nav {
  position: fixed;
  height: 100vh;
  top: $menu-width;
  width: $menu-width;
  pointer-events: none;
  z-index: 100;
  cursor: pointer;
}

.nav.active {
  pointer-events: auto;
  z-index: 0;
}

.nav-left {
  opacity: 0;
  width: 0px;
  transition: opacity 1s ease-in-out;
  transition: width 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.nav-left.active {
  opacity: 1;
  width: $menu-width * 3;
  transition: opacity 1s ease-in-out;
  transition: width 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.nav-left ul {
  position: relative;
  z-index: 10;
  left: 0px;
  top: 0px;
  width: 0px;
  height: $menu-height;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
}

.nav-link {
  font-size: 22px;
  font-weight: 500;
  padding: 8%;
  height: $menu-height;
  vertical-align: middle;
  opacity: 0;
  position: relative;
  left: -10%;
  z-index: 300;
  transition: opacity 1s ease-in-out;
  transition: width 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.nav-link.active {
  opacity: 1;
  left: 0;
  top: 0;
  padding: 8%;
  width: $menu-width * 5;
  vertical-align: middle;
  cursor: pointer;
  transition: opacity 1s ease-in-out;
  transition: width 1s ease-in-out;
  transition: all 1s ease-in-out;
  &:hover {
    background-color: #333;
  }
}

/* Nav and form mobile */

@media (max-width: 375px) {
  nav {
    position: fixed;
    height: 100vh;
    top: $menu-width;
    width: $menu-width;
    pointer-events: none;
    z-index: 100;
  }

  .nav.active {
    pointer-events: auto;
    z-index: 0;
  }

  .nav-left {
    opacity: 0;
  }

  .nav-left.active {
    opacity: 1;
    width: $menu-width * 3;
  }

  .nav-left ul {
    position: relative;
    z-index: 10;
    left: 0px;
    top: 0px;
    width: 0px;
    height: $menu-height;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
  }

  .nav-link {
    font-size: 22px;
    font-weight: 500;
    padding: 8%;
    height: $menu-height;
    vertical-align: middle;
    opacity: 0;
    position: relative;
    left: -10%;
    z-index: 300;
    transition: all 1s ease-in-out;
  }

  .nav-link.active {
    opacity: 1;
    left: 0;
    top: 0;
    padding: 8%;
    width: $menu-width * 5;
    vertical-align: middle;
    cursor: pointer;
    transition: all 1s ease-in-out;
    &:hover {
      background-color: #333;
    }
  }
}
