@import url("https://fonts.googleapis.com/css?family=Raleway:300,500,700");

$basicbackgroundcolor: #3f899e;

/* Global */

* {
  font-family: raleway;
}

h1,
h4 {
  margin-top: 2%;
  text-align: center;
}

body {
  background-color: $basicbackgroundcolor;
}

p {
  margin-top: 5%;
  text-align: center;
}

form {
  text-align: center;
  margin-top: 10%;
  visibility: hidden;
}

.btn-toggle-nav {
  position: fixed;
  width: 60px;
  height: 60px;
  left: 0;
  top: 0;
  background-color: #f98f39;
  background-image: url("../img/hb-menu.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  cursor: pointer;
  z-index: 100;
  visibility: visible;
}

.btn-toggle-nav:hover {
  // opacity: 1;
}

.nav-sidebar {
  position: fixed;
  top: 40px;
  left: -40px;
  height: calc(100vh - 60px);
  // padding: 0 0px;
  // width: 60px;
  display: flex;
  flex-wrap: wrap;
  // z-index: auto;
  transition: all 0.8s ease-in-out;
}

.nav-sidebar ul {
  position: relative;
  // padding-top: 0px;
  left: 0px;
  width: 100%;
  // overflow: hidden;
  visibility: hidden;
}

.openNavSidebarul {
  visibility: visible;
  // overflow: visible;
}

.nav-sidebar ul li {
  left: 0;
  line-height: 60px;
  list-style: none;
  transition: all 0.8s ease-in-out;
}

.nav-sidebar ul li a {
  display: block;
  height: 60px;
  padding-left: 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: raleway;
  font-size: 16px;
  white-space: nowrap;
  transition: all 0.8s ease-in-out;
}

.nav-sidebar ul li a:hover {
  background-color: #333;
}

.openNavSideBar {
  width: 272px;
  opacity: 1;
}

.openNavBtnToggleNav {
  visibility: visible;
  opacity: 1;
}

.openSideBarA {
  visibility: visible;
  opacity: 1;
}

.greyBG {
  background-color: grey;
  &:hover {
    color: #808080;
  }
}
.redBG {
  background-color: #ff0000;
  &:hover {
    color: red;
  }
}
.orangeBG {
  background-color: #ffa500;
  &:hover {
    color: orange;
  }
}
.purpleBG {
  background-color: #800080;
  &:hover {
    color: purple;
  }
}

.greenBG {
  background-color: #008000;
  &:hover {
    color: green;
  }
}
